/dist
/node_modules
/coverage

logs
*.log
npm-debug.log*

.env
.ormconfig.json
.dockerignore
service-account-buckets.json
course-management-system-api-63430c976ec8.json
api-secrets.yml
config-map.yml
